<ul class="nav">
  <li>
    <%= link_to "POSTBOX", root_path, :class => 'brand' %>
  </li>
  <li>
  </li>
</ul>
<div class='nav-item'>
<%= link_to 'New Post', new_post_path, class: 'btn btn-danger btn-small' %>
</div>